.card-actions{
    display: flex;
    justify-content: end; 
    align-items: center;
    gap:1px;
    padding-top: 15px;
    background: #fffafa;
    padding-right: 10px;
}
.card-details{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .7);
}

.card-details .card-price{
    font-weight: 600;
    font-size: 14px;
    padding: 5px 0;
    color: #43ac6a;
}
